body{
    font: italic small-caps bold 16px/2 cursive;
    background-color: black;
    color : green;
}

nav{
    margin: auto;
    padding-left: 10%;
    border-color: white;
    border-radius: 3px;
}
