body{
    font: italic small-caps bold 16px/2 cursive;
    background-color: black;
    color : green;
}

nav{

}


.Menu{
    margin: auto;
    padding-left: 10%;
    border-color: white;
    border-radius: 3px;
}
.MenuItem{
    color : cyian;
    padding-left: 10%;
    border-color: cyan;
    border-radius: 1px;
}
