:root{
    --hoverColor :rgb(202, 155, 202);
    --textColor : white;
}

html{ 
    background-image: url(../images/background.jpg) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html,body{ margin : 0; height: 100%; overflow: hidden; }

body{
    font: italic small-caps bold 16px/2 cursive;
    font-family: 'Pixel-Art', sans-serif;
                                                
    color :var(--textColor);
}

h1{
    padding-left: 5%;
}

ul {

    list-style-type: none;
    margin: 0; padding: 2%;
    overflow: hidden;
    background-color: red;
}

li{
    list-style: none;
    float :left;
    padding-left: 3%; padding-right: 3%;
}

li a{
    display: block;
    padding: 15px;
    background-color: var(--hoverColor);
    text-align: center;
}

.MenuItem{
    border : solid;
    color :var(--textColor);

    padding-top: 2%;
    padding-bottom: 2%;

    border-color: white;

    border-radius: 20px;
    border-width: 1px;;
    text-align: center;
}

.MenuItem:hover{
    border-color:var(--hoverColor);
}

a:link, a:visited{
    color:var(--textColor);
}
.a:hover, a:active{
    color : var(--hoverColor);
}
