// _sass/custom.scss
/*
html {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-size: 20px;
  font-family: Consolas, monaco, monospace;
  letter-spacing: 1px;
}

body {
  max-width: 80ch;
  margin: 2rem auto;
  padding: 1em 1rem;
  background:  black;
  color: #FAFAFA;
  line-height: 1.6rem;
}
h1,h2,h3 {
  color: #FAFAFA;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.1;
}
h1 {
  margin-top: 2rem;
  font-size: 3rem;
}
h2 {
  margin-top: 2rem;
  font-size: 1.8rem;
}
h3 {
  margin-top: 2rem;
  font-size: 1.2rem;
}

ol, blockquote {
	padding-left: 1rem;
	margin-left: 1rem;
	margin-right: 0;
	padding-right: 0;
}
blockquote {
	border-left: 1px solid #fbf9fe80;
  color :cyan;
}
pre {
	white-space: pre-wrap;
	padding: 1rem;
	line-height: 1.2;
	border: 1px solid #fbf9fe20;
	background: #fbf9fe10;
	border-radius: 4px;
}


ol {
	list-style: decimal-leading-zero;
}
ol li {
	margin: 0.4rem 0;
}

p {
	margin: 0.75rem 0;
}

a {
  color: #FAFAFA;
	margin: 0.75rem 0;
	letter-spacing: 0.1rem;
	font-weight: bold;
}

.trigger .page-link{
  color:cadetblue;
}

.site-title{
  color:cadetblue;
}

.site-title:visited{
  color:cadetblue;
}

.site-nav{
  border-color: wheat;
  border-style:solid;
  border-radius: 1%;
}
main, header, footer {
	margin: auto;
}
*/