@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
  
    /* First Palette */
  
    --bg-color: #000000;
    --page-color: #181616;
    --primary-color: #f5bb4e;
    --secondary-color: #e6962e;
    --alpha-primary-color : rgba(68, 107, 107, 0.912);
    --link-color: #578382;
  
    /* Second palette */
    /*
    --page-color: #000306;
    --primary-color: #302e35;
    --secondary-color: #364b4c;
    --bg-color: #94989e;
    --link-color: yellow;
    --alpha-primary-color : #eff4f4;
    */
  
    --primary-shadow: #2c2c30;
    --secondary-shadow: #151211;
  
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }